{% extends 'base.html' %}

{% block title %}
    Book Update
{% endblock %}

{% block content %}
    <h1>Book Update</h1>
    <div class="container">

        <form method="post" action="{% url 'book_update' book.pk %}">

            {% csrf_token %}

        {% include 'partial/book_form.html' %}
            <button type="submit" class="btn btn-primary" value="Update">Update</button>
            <a href="{% url 'home' %}"><button type="button" class="btn btn-secondary">Cancel</button></a>
        </form>
    </div>
{% endblock %}