{% extends 'base.html' %}


{% block menu %}
    <a href="#" style="color: black">Create+</a>
{% endblock %}

{% block content %}
  <div class="container">
       <h3>Guest Book</h3>
  </div>
      {% for notepad in book %}
          <div class="container">
          <div class="card mb-3">
          <div class="card-body">
          <h5 class="card-title">{{ notepad.name }} ({{ notepad.email }})</h5><hr/>
          <p class="card-text">{{ notepad.text }}</p><hr/>
          <button type="button" class="btn btn-primary">Update</button>
          <button type="button" class="btn btn-danger">Delete</button>
          </div>
          </div>
          </div>
      {% endfor %}
{% endblock %}